.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    opacity 0.5s ease,
    visibility 0s linear 0.5s;
  visibility: hidden;
  z-index: 20;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  border: 0;
  margin-top: 24px;
  padding: 0;
}

.modal__label-type-radio {
  /* margin-top: 8px; */
}

.modal__radio-input {
  margin-top: 0;
}

.modal__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  max-width: 430px;
  width: 100%;
  position: relative;
  border-radius: 8px;
}

.modal__form-title {
  margin: 28px auto 0 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: rgba(26, 27, 34, 1);
}

/* .modal__button-close {
  background-image: url(../../assets/close.svg);
  position: absolute;
  height: 40px;
  width: 40px;
  top: 20px;
  right: 28px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: unset;
  cursor: pointer;
  transition: background-image 1s linear;
} */

.modal__button-close_add {
  background-image: url(../../assets/close.svg);
  position: absolute;
  height: 40px;
  width: 40px;
  top: -40px;
  right: -40px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: unset;
  cursor: pointer;
  transition: background-image 1s linear;
}

.modal__form {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 24px 28px;
  display: flex;
  flex-direction: column;
}

.modal__form-label {
  margin: 24px 0 0;
  /* line-height: 110.00000000000001%; */
  color: rgba(47, 113, 229, 1);
  font-family: "Inter";
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
}

.modal__form-label:first-child {
  margin-top: 0;
}
.modal__form-input {
  max-width: 630px;
  box-sizing: border-box;
  padding: 0;
  margin: 8px 0 0;
  /* border: 1px solid rgba(33, 33, 33, 0.4); */
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  /* border-radius: 8px; */
  transition: opacity 1s linear;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
}

.modal__form-input:hover {
  border-color: rgba(33, 33, 33, 1);
}

.modal__form-input::placeholder {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.3);
}

.modal__button-save {
  /* width: 130px; */
  background-color: rgba(47, 113, 229, 1);
  border-radius: 100px;
  /* padding: 18px 58px; */
  padding: 20px 147.5px;
  color: rgba(255, 255, 255, 1);
  /* font-size: 16px; */
  line-height: 100%;
  margin: 32px auto;
  cursor: pointer;
  border: none;
  transition: opacity 1s linear;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.modal__button-save:hover {
  opacity: 80%;
}

.modal__button-cancel {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid black;
  color: rgba(33, 33, 33, 1);
  text-align: center;
  padding: 18px 20px;
  /* transition: none; */
}

.modal__button-cancel:hover {
  background-color: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
  opacity: 100%;
}
