.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 104px 28px 104px;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif; /* Add fallback fonts */
  font-size: 18px;
  font-weight: 500;
  background: transparent;
  position: relative;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-saved {
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(209, 210, 214, 1);
}

.header__title {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  text-decoration: none;
}

.header__title-saved {
  color: rgba(26, 27, 34, 1);
}

.header__home-button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  padding-top: 12px;
  position: relative;
  transition: background-color 0.3s ease;
}

.header__home-button-saved {
  color: rgba(26, 27, 34, 1);
}

.header__home-button.active::after {
  content: "";
  position: absolute;
  bottom: -28px; /* Adjust this to reach the header bottom */
  left: 0;
  right: 0;
  height: 3px;
  background-color: rgba(255, 255, 255, 1);
}

.header__saved-articles-btn {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  padding-top: 12px;
  position: relative;
  transition: background-color 0.3s ease;
}

.header__saved-articles-btn-saved {
  color: rgba(26, 27, 34, 1);
}

.header__saved-articles-btn.active::after {
  content: "";
  position: absolute;
  bottom: -28px; /* Adjust this to reach the header bottom */
  left: 0;
  right: 0;
  height: 3px;
  background-color: rgba(255, 255, 255, 1);
}

.header__saved-articles-btn-saved.active::after {
  background-color: rgba(26, 27, 34, 1);
}

.header__content-container {
  display: flex;
  gap: 20px;
}

.header__signin-btn {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 12px;
  /* padding: 12px; */
  width: 152px;
  /* height: 24px; */
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header__signout-btn {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 12px;
  /* padding: 12px; */
  width: 120px;
  /* height: 24px; */
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: right;
  /* justify-content: space-between; */
}

.header__signout-btn-saved {
  color: rgba(26, 27, 34, 1);
  border: 1px solid rgba(26, 27, 34, 1);
}

.header__signout-btn-image {
  align-items: center;
  margin-left: 10px;
}

/* .header__home-button:hover {
  background-color: #f5f6f7;
}


.header__signin-btn:hover {
  background-color: #1a1b22;
  color: #ffffff;
}

.header__signin-btn:focus {
  outline: 2px solid #2f71e5;
  outline-offset: 2px;
} */

@media screen and (max-width: 768px) {
  .header {
    padding: 24px 16px 20px;
  }

  .header__content-container {
    gap: 16px;
  }

  .header__signin-btn {
    padding: 12px 16px;
    font-size: 16px;
  }
}
