.footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 104px;
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
}

.footer__content {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: rgba(182, 188, 191, 1);
}

.footer__navigation {
  display: flex;
  align-items: center;
}

.footer__linkedin-image {
  margin: 0 0 0 24px;
}

.footer__github-image {
  margin: 0 0 0 40px;
}

.footer__tripleten-navigation {
  margin: 0 0 0 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(26, 27, 34, 1);
}

.footer__home-navigation {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(26, 27, 34, 1);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 24px 40px 18px 40px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 20px 16px 22px;
    display: flex;
    flex-direction: column;
    gap: 38px;
  }

  .footer__navigation {
    order: 1;
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto auto;
    align-items: start;
    row-gap: 24px;
    column-gap: 24px;
  }

  .footer__home-navigation {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
  }

  .footer__tripleten-navigation {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
  }

  .footer__github {
    grid-column: 2;
    grid-row: 1;
  }

  .footer__linkedin {
    grid-column: 3;
    grid-row: 1;
  }

  .footer__github-image,
  .footer__linkedin-image {
    margin: 0;
  }

  .footer__content {
    order: 2;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
  }
}
