.footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 104px;
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
}

.footer__content {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: rgba(182, 188, 191, 1);
}

.footer__navigation {
  display: flex;
  align-items: center;
}

.footer__linkedin-image {
  margin: 0 0 0 24px;
}

.footer__github-image {
  margin: 0 0 0 40px;
}

.footer__tripleten-navigation {
  margin: 0 0 0 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(26, 27, 34, 1);
}

.footer__home-navigation {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(26, 27, 34, 1);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 24px 40px 18px 40px;
  }
}

@media screen and (max-width: 320px) {
}
