.news-card {
  position: relative;
  width: 400px;
  height: 576px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
}

.news-card__image {
  width: 400px;
  height: 272px;
  object-fit: cover;
  /* display: block; */
  border-radius: 12px;
  /* cursor: pointer; */
}

.news-card__content {
  padding: 24px 24px;
}

.news-card__link {
  text-decoration: none;
  color: inherit;
}
